.Me{
    padding-top: 150px;
}
    


.P-text{
    color: white;
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
}

.paragraph{
    color: white;
    font-size: large;
    margin-left: 200px;
    
}

.style{
    color: white;
    font-size: 50px;
    padding-top: 70px;
    margin-left: 250px;
    display: flex;
    

}

.paragraph2{
    color: white;
    font-size: large;
   margin-left: 500px;
   
}

.style2{
    color: white;
    font-size: 50px;
    margin-left: 230px;
}

.button2{
    position: absolute;
    top: -50%;
    margin-left: 450px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: large;
    cursor: pointer;
    padding:  10px 20px ;
    border-radius:8px;
    background-color: red;
}

.button2:hover{
    scale: 1.1;
    transition: 0.5s ease;
    background: skyblue;
    color: black;
}
    

@media screen and(max-width:767px){
    .gfg{
        color: black;
        text-align: center;
    }
}


