
.card {
    transition: transform 0.3s, box-shadow 0.3s; 
   
}

.card:hover {
    transform: translateY(-10px);   
    
}

.Me2{
 padding-top: 150px;
 margin-left: 100px;
 margin-right: 90px;
}

.Me2 h1{
    margin-left: 500px;
}

.col{
    padding-top: 20px;
}







.contact-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 420px;
    width:350px;
    
    

}

/* Form Styling */
.contact-form {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
}

.contact-form h3 {
    margin-bottom: 5px;
    background-color: white;
}

.contact-form p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.4;
    background-color:white;
}

.contact-form label {
    font-weight: 600;
    margin-top: 10px;
    display: block;
    background-color: white;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: white;
}

.contact-form textarea {
    height: 90px;
}

/* Button */
.send-btn {
    width: 100%;
    padding: 12px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.send-btn:hover {
    background: #0047b3;
}
